{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.wsscode/pathom3 {:mvn/version "2025.01.16-alpha"}
        psi/query           {:local/root "../query"}
        psi/ai              {:local/root "../ai"}
        psi/history         {:local/root "../history"}
        psi/memory          {:local/root "../memory"}
        psi/recursion       {:local/root "../recursion"}
        psi/agent-session   {:local/root "../agent-session"}
        psi/introspection   {:local/root "../introspection"}}}