{:paths ["src"]
 :deps {org.clojure/clojure         {:mvn/version "1.12.0"}
        com.fulcrologic/statecharts {:mvn/version "1.2.25"}
        babashka/process            {:mvn/version "0.6.23"}
        psi/ai                      {:local/root "../components/ai"}
        psi/agent-core              {:local/root "../components/agent-core"}
        psi/agent-session           {:local/root "../components/agent-session"}
        psi/extension-test-helpers  {:local/root "../components/extension-test-helpers"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :main-opts   ["-m" "kaocha.runner"]}}}
