{:deps {org.clojure/clojure   {:mvn/version "1.12.0"}
        metosin/malli         {:mvn/version "0.16.4"}
        com.wsscode/pathom3   {:mvn/version "2025.01.16-alpha"}
        datalevin/datalevin   {:mvn/version "0.9.22"}
        psi/query             {:local/root "../query"}}}
